.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
}

.nav {
    list-style-type: none;
}

input {
    font-family: 'Fontin Sans CR', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
